.DS_Store
assets/
frontmatter.tex
rmc-website-src/.DS_Store
rmc-website-src/.gitignore
00_Syllabus_S26_RMC-luamml-mathml.html
00_Syllabus_S26_RMC.pdf
00_Syllabus_S26_RMC.synctex.gz
00_Syllabus_S26_RMC.tex
00_Syllabus_S26_RMC.typ
access_test-luamml-mathml.html
access_test.pdf
access_test.synctex.gz
access_test.tex
exp_23_slamplot_100.png
planning_me676.typ

